/*
===============================================================================
   Normalization / Reset
-------------------------------------------------------------------------------
*/

*, *::before, *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

pre,
code {
  display: block;
  margin: 0;
}

button,
input,
textarea {
  font: inherit;
  margin: 0;
  color: inherit;
  border: 0;
  outline: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner {
  padding: 0;
  border: 0;
}


/*
===============================================================================
   Typography
-------------------------------------------------------------------------------
*/

body {
  /* font-family: 'museo-sans', sans-serif; */
  font-family: 'Ubuntu Mono', monospace;
  font-size: 100%;
  font-weight: 500;
  line-height: 1.5;
  -webkit-font-kerning: normal;
     -moz-font-feature-settings: 'frac', 'liga';
          font-feature-settings: 'frac', 'liga';
  text-rendering: optimizeLegibility;
}

code {
  font-family: 'Monaco', 'Courier', monospace;
  font-size: 16px;
  text-align: left;
}

pre > code::before {
  content: '> ';
}

.parse-msg {
  font-size: 1000%;
}


/*
===============================================================================
    Color
-------------------------------------------------------------------------------
*/

body {
  color: black;
}

a {
  color: #93a1a1;
}

code {
  color: black;
}

.parse-msg {
  color: red;
}

.lf {
  color: black;
}

.lf-highlight {
  color: red;
  font-weight: 700;
}

.lf-inactive {
  color: #a9a9a9;
  text-decoration: line-through;
}

.lf-toggle {
  text-align: center;
  width: 40px;
  height: auto;
  display: inline-block;
  margin: 0;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.lf-toggle:after {
  content: '✖';
  /* /1* 40 + a couple of pixels visual adjustment *1/ */
  /* line-height: 43px; */
  /* font-size: 20px; */
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}

.lf-toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  bottom: 1px;
  /* position: relative; */
}


/*
===============================================================================
    Layout
-------------------------------------------------------------------------------
*/

.column-main {
  max-width: 36rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.parse-msg, .lfs {
  min-height: 250px;
}

.lfs {
  text-align: left;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

#query {
  width: 95%;
}

.sh {
  margin-top: 1em;
  padding: 1em 0;
}

.page-wrap {
  position: relative;
}

#stack-hist {
  max-height: 250px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space:nowrap;
}

.outputs {
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

ul.stack-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.stack {
  margin-right: 5px;
}

.stack::before {
  content: '['
}
.stack::after {
  content: ']'
}

#inp {
  width: 24px;
  text-align: center;
}
.inp {
  width: 45px;
  display: inline-block;
  margin: 10px;
}
.inp::before {
  content: '['
}
.inp::after {
  content: ']'
}
