/*
===============================================================================
   Normalization / Reset
-------------------------------------------------------------------------------
*/

*, *::before, *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

pre,
code {
  display: block;
  margin: 0;
}

button,
input,
textarea {
  font: inherit;
  margin: 0;
  color: inherit;
  border: 0;
  outline: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner {
  padding: 0;
  border: 0;
}


/*
===============================================================================
   Typography
-------------------------------------------------------------------------------
*/

body {
  /* font-family: 'museo-sans', sans-serif; */
  font-family: 'Ubuntu Mono', 'Courier', monospace;
  font-size: 125%;
  font-weight: 500;
  line-height: 1.5;
  -webkit-font-kerning: normal;
     -moz-font-feature-settings: 'frac', 'liga';
          font-feature-settings: 'frac', 'liga';
  text-rendering: optimizeLegibility;
}

code {
  font-family: 'Ubuntu Mono', 'Courier', monospace;
  text-align: left;
}

#query {
  font-weight: 700;
}


/*
===============================================================================
    Color, Style
-------------------------------------------------------------------------------
*/

body, code, .lf {
  color: black;
}

a {
  text-decoration: none;
  color: #a6a6a6;
}

.parse-msg, .ref-msg {
  font-size: 1000%;
  color: red;
}

.lf-highlight {
  color: red;
  font-weight: 700;
}

.lf-inactive {
  color: #a6a6a6;
  text-decoration: line-through;
}

.instructions {
  color: white;
  font-weight: normal;
  font-size: 80%;
  background: #4d4d4d none repeat scroll 0;
  opacity: .9;
}

.instructions h1 {
  font-size: 1.5em;
}

#instr-footer {
  color: #a6a6a6;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.inp::before, .stack::before {
  content: '[';
}

.inp::after, .stack::after {
  content: ']';
}

.dom::before {
  content: 'dom:';
}

.lf-toggle:after {
  content: '✖';
  color: #a6a6a6;
  text-shadow: 0 -1px 0 #bfbfbf;
}

.lf-toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  bottom: 1px;
}

/* pre > code::before { */
/*   content: '> '; */
/* } */

.query::before {
  content: '> ';
}

/* #query { */
/*   color: #85ada7; */
/* } */

/*
===============================================================================
    Layout
-------------------------------------------------------------------------------
*/

.lf {
  min-height: 1.75em;
}

.lf-toggle {
  vertical-align: middle;
  width: 20px;
  height: auto;
  display: inline-block;
  padding: 1px 0 0 0;
  margin: 0;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

html, body {
  min-height: 100%;
}

body {
  position: relative;
}
 
.instructions {
  width: 100%;
  max-height: 100%;
  z-index: 11;
  position: absolute;
  overflow: auto;
  text-align: left;
}

.instructions-close {
  margin: 1em 3% 0 0;
  height: 0;
  text-align: right;
}

.instructions-content {
  padding: 0 1em 1em 1em;
}

.instructions-content ul {
  padding-left: 1em;
  margin-top: 0;
}

.instructions h2 {
  font-size: 1.25em;
}

#instr-footer {
  margin: 60px auto 0;
  text-align: right;
}

.column-main {
  max-width: 36rem;
  max-height: 700px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  text-align: center;
}

.parse-msg, .lfs {
  height: 250px;
}

.lfs {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  text-align: left;
  overflow: auto;
}

.sh {
  padding: 1em 0;
}

.page-wrap {
  position: relative;
  padding: 2em;
}

#stack-hist {
  height: 300px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space:nowrap;
}

.outputs {
  margin: 0;
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  border-right: 2px solid #a6a6a6;
  border-left: 2px solid transparent;
}

.outputs:last-child {
  border-right: none;
}

ul.stack-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.stack {
  margin-right: 5px;
}

#inp {
  width: 70%;
  text-align: center;
}
.inp {
  width: 15%;
  display: inline-block;
}

.query {
  width: 70%;
  display: inline-block;
}

#query {
  width: 95%;
}

.dom {
  width: 15%;
  display: inline-block;
}
#dom {
  width: 20%;
}

